body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 90vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 10px;
}

.container:hover {
    box-shadow: 1px 1px 1px 1px rgb(251, 101, 21);
}

h1 {
    color: rgb(251, 101, 21);
    font-weight: bold;
    text-decoration: underline;
}

.lead {
    color: #333;
}

.result-image {
    max-width: 100%;
    height: auto;
    border: 3px solid rgb(251, 101, 21);
    border-radius: 10px;
    margin-bottom: 20px;
}

.result-box {
    background-color: #e9f7ff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cell-type {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-primary {
    background-color: rgb(251, 101, 21);
    padding: 10px;
    font-size: 1.1rem;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(246, 125, 61);
}

.alert {
    max-width: 600px;
    margin: 20px auto;
}

p {
    font-size: 1.1rem;
    color: #333;
}